
body{
    margin: 0px;
    background-color:floralwhite; 
     font-weight:lighter;

	   font-family:Ebrima;

}



ul{
    list-style-type: none;
    margin: 0;
    padding:0px;

    overflow: hidden;
    background-color:#333 ;
}

li{
    float: left;
}

li.one{

    float: right;
    font-size: 13px;



    list-style-type: none;

}

li.two{


    float: right;
    font-size: 13px;
    list-style-type: none;

}
li.three{
 width: 600px;





}
li.four{
    width: 20px;




}
li.five{
    width: 230px;




}
li.six{
    width: 230px;




}


li a{
    display: block;
    color:white;
    font-weight:bold;

    font-family: sans-serif;
    text-align: center;
    padding: 14px 16px;

    text-decoration: none;

}

.active{
    background-color: brown;

}

li a:hover{
    background-color: mediumaquamarine;

}

 #background{
    background-image: url("restaurant_icons.png");
     padding: 20px 20px 20px 20px;
     background-repeat: round;

}

#background1{
    background-image: url("restaurant_icons.png");
    padding: 20px 20px 20px 20px;
    background-repeat: round;

}
#background2{
    background-image: url("restaurant_icons.png");
    padding: 20px 20px 20px 20px;
    background-repeat: round;

}

p.six {
    font-weight: bold;
    font-size: 1.3em;
    font-family: Ebrima;
    text-indent: 28px;
    background-color: mediumaquamarine;
    width: 230px;

     
    
    
    
    
}

p.seven {
    font-weight: bold;
    font-size: 1.3em;
    font-family: Ebrima;
    text-indent: 80px;
    background-color: mediumaquamarine;
    width: 230px;

     
    
    
    
    
}
p.eight {
    font-weight: bold;
    font-size: 1.3em;
    font-family: Ebrima;
    text-indent: 40px;
    background-color: mediumaquamarine;
    width: 230px;

     
    
    
    

}


p.eleven {

    font-weight: bold;
    font-size: 1.3em;
    font-family: Ebrima;
    text-align: center;
    background-color: mediumaquamarine;
    width: 230px;

    display: block;





}

fieldset{
    background-color: skyblue;
    display: block;
}

.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    /* width:1em;*/

    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:1em;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

p.twelve {
    font-weight: bold;
    font-size: 1.3em;
    font-family: Ebrima;
    text-align: center;
    background-color: mediumaquamarine;
    width: 400px;






}


p.nine {



   /* font-family:Ebrima;*/

float: right;
    width: 220px;
    font-size: 1em;


    padding-right: 50px;









}
p.facts{
    font-size: 0.7em;
    text-align: center;
    width: 120px;

}
span{
    width: 300px;
}
span.Left{
    padding-right: 140px;
    padding-left: 30px;
    padding-bottom: 280px;
    float: left;

}
article {
    font-size: 1.0em;
    padding-top:10px;
    display: inline;
    
    
}


select{
    font-size: 3em;
    display: inline;
}

main{
    font-size: 1.2em;
    display: inline;
}



img{
 float: right;
    width: 722px;
    height: 357px;
    






}

img.one{
    float:left;
    width: 50px;
    height: 50px;


}
img.two{
    float:right;
    width: 50px;
    height: 50px;


}
h1.one
{
	
   font-weight:bold;
	   
    font-size:2em;
	font-family: sans-serif;
    padding-bottom: 45px;
    padding-left:35px; 
}
h2
{
	text-align: center;
   font-weight:bold;
	   
    font-size:4em;
	font-family: sans-serif;
}

footer{
	
    
	margin-top: 55px;
	
	
	 background-color: antiquewhite;
	 font-size: 1em;
	 text-align: center;
    padding-top: 30px;
	 height:50px;

	 
	display: block;
	
	
}

